$nav-bg: #f5f5f5;
$nav-subitem-bg: #f5f5f5;
$nav-active-bg: #f5f5f5;
$nav-active-border: #29a8bb;
$nav-text: #333;
$nav-active-text: #333;
$aside-notice-bg: #E1F5FE;
$aside-warning-bg: #FFF1E6;
$aside-success-bg: #E3FBE9;
$main-bg: #fff;
