---
title: API Reference

toc_footers:
  - <a href='https://partners.skyscanner.net/contact/' target="_blank">Request API key</a>
  - <a href='https://support.business.skyscanner.net/hc/en-us' target="_blank">Find answers in our FAQ</a>
  - <a href='https://stackoverflow.com/search?q=skyscanner+api' target="_blank">Ask on Stack Overflow</a>
  - <a href='https://medium.com/@SkyscannerEng' target="_blank">Follow the Skyscanner Engineering blog</a>
  - <a href='https://partners.skyscanner.net/log-in/'>Sign in to your account</a>
  - <a href='http://www.skyscanner.net/jobs/' target="_blank">Join the team!</a>

includes:
  - authentication
  - getting_started
  - flights_browse_quotes
  - flights_browse_routes
  - flights_browse_dates
  - flights_browse_grid
  - flights_browse_notes
  - flights_live_prices
  - hotels
  - localisation
  - places
  - redirects
  - referrals
  - flights_homeView
  - flights_dayView
  - flights_browseView
  - flights_calendarMonthView
  - flights_multiCity
  - flights_cheapFlightsTo
  - flights_airline
  - cars_carsHome
  - cars_dayView
  - response_codes
  - HTTPS_migration_guide
search: false
---

# API Documentation

> API endpoint

```shell
https://partners.api.skyscanner.net/apiservices/

```
Skyscanner Travel APIs connect you to all the data you need to build an innovative website or app.

Build tools that solve problems for millions of travellers and travel retail businesses around the world.


<aside class="notice">
In order to use our APIs you need to contact us to request an API key via <a href="https://partners.skyscanner.net/contact/" target="_blank">the following form</a>.
<br><br>
If you need more help you can find more information and answers to questions in our <a href='https://support.business.skyscanner.net/hc/en-us' target="_blank">FAQ</a> which we continuously update.
</aside>








